APP_NAME=INNOVA

# Contact email (renders on footer mailto link)
BUSINESS_EMAIL=email.business@example.com

# Set the testimonial corporations separated by comma
TESTIMONIAL_CORPS=# eg: ACME,Innova Solutions,Data Corp.,System tranquility

# Add the full social networks links (e.g: https://facebook.com/my-facebook-page)
FACEBOOK_LINK=
INSTAGRAM_LINK=
TIKTOK_LINK=