@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@theme {
    --spacing-web-ss: 55px;
    --color-bod: var(--color-zinc-900);
    --color-bod-soft: var(--color-zinc-800);
    --color-tod: var(--color-white);
    --color-bol: rgb(253, 252, 253);
    --color-tol: var(--color-zinc-600);
    --color-text-selected: var(--color-white);

    --color-main-50: #B1E001;
    --color-main-100: #a2cd03;
    --color-main-200: #93ba05;
    --color-main-300: #84a80a;
    --color-main-400: #75960e;
    --color-main-500: #678413;
    --color-main-600: #5c7c22;
    --color-main-700: #527533;
    --color-main-800: #496d42;
    --color-main-900: #466c51;
    --color-main-950: #476C5E;

    --color-branding-50: #083643;
    --color-branding-100: #476C5E;
    --color-branding-200: #B8ECD7;
    --color-branding-300: #F2F2F2;
    --color-branding-400: #E9ECF5;
    --color-branding-500: #CEF09D;
    --color-branding-600: #B1E001;
}

.container-site {
    @apply max-w-7xl px-4 mx-auto w-full;
}

.page-enter-active, .page-leave-active {
    transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1), transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.page-enter-from { transform: translateY(-6px); }

.page-leave-to { transform: translateY(6px); }

.layout-enter-active, .layout-leave-active {
    transition: opacity 0.3s ease-in-out;
}

.layout-enter-from, .layout-leave-to, .page-leave-to, .page-enter-from { opacity: 0; }

::selection {
    background-color: var(--color-main-300);
    color: var(--color-text-selected);
}

* {
    outline: transparent;
}
*:focus {
    outline: solid 0.5px var(--color-main-100);
}

/* Do not remove next lines, used for verification purposes */
/* .color-main-50 { color:#B1E001; }
.color-main-100 { color:#a2cd03; }
.color-main-200 { color:#93ba05; }
.color-main-300 { color:#84a80a; }
.color-main-400 { color:#75960e; }
.color-main-500 { color:#678413; }
.color-main-600 { color:#5c7c22; }
.color-main-700 { color:#527533; }
.color-main-800 { color:#496d42; }
.color-main-900 { color:#466c51; }
.color-main-950 { color:#476C5E; }
.branding { color: #083643 }
.branding { color: #476C5E }
.branding { color: #B8ECD7 }
.branding { color: #F2F2F2 }
.branding { color: #E9ECF5 }
.branding { color: #CEF09D }
.branding { color: #B1E001 } */